<style>
  .profile-card {
    background-color: #f6efef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .profile-heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .role {
    font-size: 16px;
    font-weight: normal;
    margin-left: 8px;
    margin-top: 5px;
    color: #888888;
  }

  .profile-details {
    margin-bottom: 20px;
  }

  .profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .badge{
    margin-bottom: 15px;
  }

  .profile-info h3 {
    font-size: 18px;
    margin-right: 10px;
  }

  .profile-info .icon {
    font-size: 18px;
    color: #888888;
  }

  .profile-actions {
    display: flex;
  }

  .profile-actions > * {
    margin-right: 10px;
  }

  .response-cards,
  .ticket-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .response-card,
  .ticket-card {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .ticket-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .ticket-details {
    margin-bottom: 5px;
  }

  .date-info {
    color: #888888;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .icon {
    margin-bottom: 6px;
  }

  .profile-icons{
    margin-bottom: 10px;
    margin-right: 6px;
  }

  .sort-btn-custom{
    margin-top: 16px;
    margin-left: 10px;
    background-color: #ffd8c8;
    width: 65px;
    height: 30px;
    padding: 4px 8px;
    text-align: center;
    line-height: 10px;
  }

  .btn-custom {
    margin-top: 14px;
    background-color: #ffd8c8;
  }

  .reverse-order {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    flex-direction: row-reverse;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    display: block;
    padding: 5px 20px;
    cursor: pointer;
  }

  .dropdown-item:hover {
  background-color: #e6e6e6;
}

.dashboard {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
</style>

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<script>
  function sortByCreationDateAsc() {
    var ticketCardsContainer = document.querySelector('.ticket-cards');
    var tickets = Array.from(ticketCardsContainer.children);
    tickets.sort(function(a, b) {
      var aCreationDate = new Date(a.dataset.creationDate);
      var bCreationDate = new Date(b.dataset.creationDate);
      return aCreationDate - bCreationDate;
    });
    tickets.forEach(function(ticket) {
      ticketCardsContainer.appendChild(ticket);
    });
  }

  function sortByCreationDateDesc() {
    var ticketCardsContainer = document.querySelector('.ticket-cards');
    var tickets = Array.from(ticketCardsContainer.children);
    tickets.sort(function(a, b) {
      var aCreationDate = new Date(a.dataset.creationDate);
      var bCreationDate = new Date(b.dataset.creationDate);
      return bCreationDate - aCreationDate;
    });
    tickets.forEach(function(ticket) {
      ticketCardsContainer.appendChild(ticket);
    });
  }
</script>

<div class="profile-card">
<% if @user.administrator? %>
  <div class="profile-info">
    <h1 class="profile-heading"><%= @user.name %> <%= @user.last_name %></h1>
    <h6 class="role">Administrator</h6>
  </div>
  <div class="profile-details">
  <div class="profile-info">
    <i class="profile-icons bi bi-mailbox"></i><h3>Email:</h3>
    <p style="margin-bottom: 8px;"><%= @user.email %></p>
  </div>
  <div class="profile-info">
    <div style="display: flex;">
      <i class="profile-icons bi bi-telephone"></i><h3>Telephone:</h3><%= @user.telephone %>
    </div>
  </div>
  </div>
<% end %>

  <% if @user.supervisor? %>
    <div class="profile-info">
      <h1 class="profile-heading"><%= @user.name %> <%= @user.last_name %></h1>
      <h6 class="role">Supervisor</h6>
    </div>
    <div class="profile-details">
    <div class="profile-info">
      <i class="profile-icons bi bi-mailbox"></i><h3>Email:</h3>
      <p style="margin-bottom: 8px;"><%= @user.email %></p>
    </div>
    <div class="profile-info">
      <div style="display: flex;">
        <i class="profile-icons bi bi-telephone"></i><h3>Telephone:</h3><%= @user.telephone %>
      </div>
    </div>
  <% end %>

  <% if @user.executive? %>
    <div class="profile-info">
      <h1 class="profile-heading"><%= @user.name %> <%= @user.last_name %></h1>
      <h6 class="role">Executive</h6>
    </div>
    <div class="profile-details">
    <div class="profile-info">
      <i class="profile-icons bi bi-mailbox"></i><h3>Email:</h3>
      <p style="margin-bottom: 8px;"><%= @user.email %></p>
    </div>
    <div class="profile-info">
      <div style="display: flex;">
        <i class="profile-icons bi bi-telephone"></i><h3>Telephone:</h3><%= @user.telephone %>
      </div>
    </div>
  <% end %>

  <% if @user.requiring_user? %>
    <div class="profile-info">
      <h1 class="profile-heading"><%= @user.name %> <%= @user.last_name %></h1>
      <h6 class="role">Requiring User</h6>
    </div>
    <div class="profile-details">
    <div class="profile-info">
      <i class="profile-icons bi bi-mailbox"></i><h3>Email:</h3>
      <p style="margin-bottom: 8px;"><%= @user.email %></p>
    </div>
    <div class="profile-info">
      <div style="display: flex;">
        <i class="profile-icons bi bi-telephone"></i><h3>Telephone:</h3><%= @user.telephone %>
      </div>
    </div>
  <% end %>

  <div class="profile-actions">
    <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %>
    <%= link_to 'Back home', "/", class: 'btn btn-secondary' %>
    <%= button_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
    <div class="profile-actions">
      <button class="btn btn-custom" style = "margin-bottom: 10px;" onclick="history.back()">Back</button>
    </div>
  </div>
</div>

<% if @user.administrator? %>
  <div class="dashboard">
    <h2>User Roles Dashboard</h2>
    <h4>Supervisors</h4>
    <div class="card-grid">
    <% User.supervisor.each do |s| %>
        <div class="profile-card">
          <h4><%= s.name %> <%= s.last_name %></h4>
          <div style = "display: flex;">
            <i class="bi bi-mailbox" style = "margin-right: 5px;"></i>
            <p><%= s.email %></p>
          </div>
          <div style = "display: flex;">
            <i class="bi bi-telephone" style = "margin-right: 5px;"></i>
            <p><%= s.telephone %></p>
          </div>
          <p>
            <%= link_to s do %>
              <button type="button" class="btn btn-custom">Show profile</button>
            <% end %>
            <%= link_to "#" do %>
              <button type="button" class="btn btn-custom">Edit role</button>
            <% end %>
          </p>
        </div>
    <% end %>
  </div>

    <h4>Executives</h4>
    <div class="card-grid">
    <% User.executive.each do |e| %>
        <div class="profile-card">
          <h4><%= e.name %> <%= e.last_name %></h4>
          <div style = "display: flex;">
            <i class="bi bi-mailbox" style = "margin-right: 5px;"></i>
            <p><%= e.email %></p>
          </div>
          <div style = "display: flex;">
            <i class="bi bi-telephone" style = "margin-right: 5px;"></i>
            <p><%= e.telephone %></p>
          </div>
          <p>
            <%= link_to e do %>
              <button type="button" class="btn btn-custom">Show profile</button>
            <% end %>
            <%= link_to "#" do %>
              <button type="button" class="btn btn-custom">Edit role</button>
            <% end %>
            <%= link_to "#" do %>
              <button type="button" class="btn btn-custom">Manage Tickets</button>
            <% end %>
            </p>
          </div>
      <% end %>
    </div>

    <h4>Requiring Users</h4>
    <div class="card-grid">
      <% User.requiring_user.each do |r| %>
          <div class="profile-card">
            <h4><%= r.name %> <%= r.last_name %></h4>
            <div style = "display: flex;">
              <i class="bi bi-mailbox" style = "margin-right: 5px;"></i>
              <p><%= r.email %></p>
            </div>
            <div style = "display: flex;">
              <i class="bi bi-telephone" style = "margin-right: 5px;"></i>
              <p><%= r.telephone %></p>
            </div>
            <p>
              <%= link_to r do %>
                <button type="button" class="btn btn-custom">Show profile</button>
              <% end %>
              <%= link_to "#" do %>
                <button type="button" class="btn btn-custom">Edit role</button>
              <% end %>
            </p>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
  

<% if @user.supervisor? %>
  <div class="dashboard">
    <h2>User Roles Dashboard</h2>

    <h4>Executives</h4>
    <div class="card-grid">
    <% User.executive.each do |e| %>
        <div class="profile-card">
          <h4><%= e.name %> <%= e.last_name %></h4>
          <div style = "display: flex;">
            <i class="bi bi-mailbox" style = "margin-right: 5px;"></i>
            <p><%= e.email %></p>
          </div>
          <div style = "display: flex;">
            <i class="bi bi-telephone" style = "margin-right: 5px;"></i>
            <p><%= e.telephone %></p>
          </div>
          <p>
            <%= link_to e do %>
              <button type="button" class="btn btn-custom">Show profile</button>
            <% end %>
            <%= link_to "#" do %>
              <button type="button" class="btn btn-custom">Edit role</button>
            <% end %>
            <%= link_to "#" do %>
              <button type="button" class="btn btn-custom">Manage Tickets</button>
            <% end %>
            </p>
          </div>
      <% end %>
    </div>

    <h4>Requiring Users</h4>
    <div class="card-grid">
      <% User.requiring_user.each do |r| %>
          <div class="profile-card">
            <h4><%= r.name %> <%= r.last_name %></h4>
            <div style = "display: flex;">
              <i class="bi bi-mailbox" style = "margin-right: 5px;"></i>
              <p><%= r.email %></p>
            </div>
            <div style = "display: flex;">
              <i class="bi bi-telephone" style = "margin-right: 5px;"></i>
              <p><%= r.telephone %></p>
            </div>
            <p>
              <%= link_to r do %>
                <button type="button" class="btn btn-custom">Show profile</button>
              <% end %>
              <%= link_to "#" do %>
                <button type="button" class="btn btn-custom">Edit role</button>
              <% end %>
            </p>
          </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @user.executive? %>
  <h2 style="margin-top: 10px;">Assigned Tickets</h2>
  <div class="ticket-cards">
    <% @user.executive_tickets.each do |ticket| %>
      <div class="ticket-card">
        <% if ticket.state == "open" %>
          <sup><span class="badge rounded-pill text-bg-primary">Open</span></sup>
        <% elsif ticket.state == "closed" %>
          <sup><span class="badge rounded-pill text-bg-success">Closed</span></sup>
        <% elsif ticket.state == "reopened" %>
          <sup><span class="badge rounded-pill text-bg-warning">Reopened</span></sup>
        <% end %>
        <% if ticket.priority == 1 %>
          <sup><span class="badge rounded-pill text-bg-danger">Prioridad Alta</span></sup>
        <% elsif ticket.priority == 2 %>
          <sup><span class="badge rounded-pill text-bg-warning">Prioridad Media</span></sup>
        <% elsif ticket.priority == 3 %>
          <sup><span class="badge rounded-pill text-bg-success">Prioridad Baja</span></sup>
        <% end %>
        <h4 class="ticket-title"><%= ticket.title %></h4>
        <div class="date-info">
          <span class="icon me-1"><i class="far fa-calendar-alt"></i></span>
          <p class="ticket-details">Creation Date: <%= ticket.creation_date %></p>
        </div>
        <% if ticket.resolution_date %>
          <div class="date-info">
            <span class="icon me-1"><i class="far fa-calendar-check"></i></span>
            <p class="ticket-details">Resolution Date: <%= ticket.resolution_date %></p>
          </div>
        <% end %>
        <p class="ticket-details"> <%= ticket.description %></p>
        <a href="<%= ticket_path(ticket) %>" class="btn btn-primary">Ver ticket</a>
      </div>
    <% end %>
  </div>
<% end %>

<% if @user.requiring_user? %>
  <div style = "display: flex;">
  <h2 style="margin-top: 10px;">Tickets Created</h2>
  <div class="dropdown">
    <button class="btn sort-btn-custom">Sort<i class="fas fa-caret-down" style = "margin-left: 4px;"></i></button>
    <div class="dropdown-content">
      <div class="dropdown-item" onclick="sortByCreationDateAsc()">Ascending Creation</div>
      <div class="dropdown-item" onclick="sortByCreationDateDesc()">Latest Creation</div>
    </div>
  </div>
  </div>

  <div class="ticket-cards">
  <% @user.requiring_user_tickets.sort_by { |ticket| ticket.creation_date }.each do |ticket| %>
    <div class="ticket-card" data-creation-date="<%= ticket.creation_date %>">
      <% if ticket.state == "open" %>
        <sup><span class="badge rounded-pill text-bg-primary">Open</span></sup>
      <% elsif ticket.state == "closed" %>
        <sup><span class="badge rounded-pill text-bg-success">Closed</span></sup>
      <% elsif ticket.state == "reopened" %>
        <sup><span class="badge rounded-pill text-bg-warning">Reopened</span></sup>
      <% end %>
      <% if ticket.priority == 1 %>
        <sup><span class="badge rounded-pill text-bg-danger">Prioridad Alta</span></sup>
      <% elsif ticket.priority == 2 %>
        <sup><span class="badge rounded-pill text-bg-warning">Prioridad Media</span></sup>
      <% elsif ticket.priority == 3 %>
        <sup><span class="badge rounded-pill text-bg-success">Prioridad Baja</span></sup>
      <% end %>
      <h4 class="ticket-title"><%= ticket.title %></h4>
      <div class="date-info">
        <span class="icon me-1"><i class="far fa-calendar-alt"></i></span>
        <p class="ticket-details">Creation Date: <%= ticket.creation_date %></p>
      </div>
      <% if ticket.resolution_date %>
        <div class="date-info">
          <span class="icon me-1"><i class="far fa-calendar-check"></i></span>
          <p class="ticket-details">Resolution Date: <%= ticket.resolution_date %></p>
        </div>
      <% end %>
      <p class="ticket-details"><%= ticket.description %></p>
      <a href="<%= ticket_path(ticket) %>" class="btn btn-primary">Ver ticket</a>
    </div>
  <% end %>
  </div>

  <p>
  <%= link_to new_ticket_path, class: "btn btn-custom" do %>
    <span class="icon me-1"><i class="fas fa-plus"></i></span>
    Create Ticket
  <% end %>
  </p>

  <hr>
  </hr>

  <h2 style="margin-top: 10px;">Respuestas Pendientes</h2>
  <% if @user.requiring_user_responses.any? %>
  <div class="response-cards">
    <% @user.requiring_user_responses.each do |response| %>
        <div class="response-card">
          <h4 class="ticket-title"><%= response.ticket.title %></h4>
          <p class="ticket-details"><%= response.response %></p>
          <div>
            <a href="<%= ticket_path(response.ticket) %>"  class="btn btn-primary">Ver ticket</a>
            <a href="#" class="btn btn-primary">Aceptar</a>
          </div>
        </div>
    <% end %>
  </div>
  <% else %>
  <p class = "text-muted">No hay respuestas pendientes</p>
  <% end %>
<% end %>